<a href="https://colab.research.google.com/github/mounikachittoor/CRT/blob/master/Day_5(3_12_2019).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python programming
## Python programming
### Python programming
###### Python programming
Python programming



1.   python basic
2.   python advance
3.   python program

![image](https://akm-img-a-in.tosshub.com/indiatoday/images/bodyeditor/201909/positive-1521334_960_720-x640.jpg?rPgOxnVWANCxIs2RPpsbLVgAiUNwvzA6)Quote

[GOOGLE](https://www.google.com/search?q=google&oq=google&aqs=chrome..69i57j35i39j0j69i60l5.7311j0j4&sourceid=chrome&ie=UTF-8)

In [0]:
print("Hello World")

Hello World

In [0]:
x = 10
y = 20
print(x + y)
print(x - y)

30
-10

In [0]:
x = int(input("enter x value"))
y = int(input("enter y value"))
print(x + y)
print(x - y)

enter x value10
enter y value20
30
-10

In [0]:
n = input("enter name")
a = int(input("enter age"))
print("My NAME is ",n ,end='   ')
print("My AGE is",a)

enter nameMounika Reddy
enter age20
My NAME is  Mounika Reddy   My AGE is 20

# fundamental data types


1.   int
2.   float
3.   complex
4.   boolean
5.   string

In [0]:
x = 6
y = 6.5
z = 3 + 6j
a = 2+4j
print(type(x),type(y),type(z),type(a))

<class 'int'> <class 'float'> <class 'complex'> <class 'complex'>

In [0]:
print(z + a)

(5+10j)

In [0]:
str1 = "Gitam "
str2 = 'University'
print(str1 + str2)
print(len(str1))
len(str1 + str2)

Gitam University
6

16

In [0]:
x = 221710405006
print(len(str(x)))

12

In [0]:
result = 10<20
print(result,type(result))

True <class 'bool'>

## Operators
 {unary(a++):not present in python}   

1.   binary
2.   ternary
          ** :- is used to find power
          // :- is used to eliminate the decimals in division (floor operator)

1.   Arithmetic Operators : +, -, *, /, %
2.   Logical Operators : and, or, not
3.   Relational Operators : ==, >, <, >=, <=, !=
4.   **Membership Operators : in, not in
         --- checking availability of the char in string
         --- useful in loops

### Arithmetic Operators

In [0]:
a = 20
b = 5
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)
print(a**b)

25
15
100
4
0
3200000

### Logical Operators

In [0]:
i = 20
j = 5
print(i>1 and i>50)
print(j<1 or j>4)
print(not i)
print(not j)

False
True
False
False

### Relational Operators

In [0]:
print(i==j)
print(i!=j)
print(i>j)
print(i<j)
print(i>=j)
print(i<=j)

False
True
True
False
True
False

### Membership Operators

In [0]:
str1 = 'Gitam'
print('z' in str1)
print('g' in str1)
print('b' not in str1)

False
False
True

# Conditional Statements


1.    if
2.    else
3.    elif

      # syntax:-
              if condition:
(1 tab dist.)    statement
                 statement
                 else:
(1 tab dist.)        statements

In [0]:
n = int(int(input("enter a number")))
if n%2==0:
  print('even')
else:
  print("odd")

enter a number54
even