<a href="https://colab.research.google.com/github/mounikachittoor/CRT/blob/master/Day_6(4_12_2019).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Accept a number nd check whether it is divisible by 3 nd 5
x = int(input("enter any value"))
if x%3==0 and x%5==0:
  print("it is divisible by 3 nd 5")
else:
  print("not divisible")

In [0]:
# Accept a number nd check whether it is +ve or -ve
x = int(input("enter any value"))
if x == 0:
  print("it is zero")
elif x>0:
  print("it is positive")
else:
  print("it is negative")

In [0]:
# Accept age of a person nd decide if he is eligible for voting or not
x = int(input("enter the age"))
if x>=18:
  print("eligible")
else:
  print("not eligible")

enter the age18
eligible

#### H.W. :Accept 3 subjects marks of a student if the student gets min. 30 marks in all subs, then find avg. else print fail. If avg is >75 print A , 65-75 print B, 45-65 print C, 30-45 print D, or print fail.

In [0]:
x = int(input("enter 1st sub marks"))
y = int(input("enter 2nd sub marks"))
z = int(input("enter 3rd sub marks"))
avg = 0
if x >= 30 and y >= 30 and z >=30:
  avg = avg+(x+y+z)/3
  print(avg)
if avg>75:
  print("Grade A")
elif 65<avg <= 75: 
  print("Grade B")
elif 45<avg <= 65:
  print("Grade C")
elif 30<avg <= 45:
  print("Grade D")
else :
  print("fail")

enter 1st sub marks30
enter 2nd sub marks100
enter 3rd sub marks100
76.66666666666667
Grade A

# Loops


1.   While (use when we dont know no. of iterations)
2.   for   (use when we know the no. of iterations)

In [0]:
# print no.s from 1 to n
n = int(input("enter a value"))
i = 1
while i <= n:
  print(i,end=" ")
  i = i + 1       # or i+=1

enter a value10
1 2 3 4 5 6 7 8 9 10

In [0]:
# print 1 to n even no.s
n = int(input("enter a number"))
i = 1
while i<=n:
  if i%2==0:
    print(i,end=" ")
  i = i + 1

enter a number10
2 4 6 8 10

In [0]:
# printing sum of all even numbers in the given range
x = int(input("enter a value "))
i = 1
s = 0
while i<=x:
  if i%2==0:
    s=s+i
  i = i + 1
print(s)

enter a value 10
30

In [0]:
# extracting the digits from given no.
# input : 546
# output : 6 4 5
x = int(input("enter the number"))
while x!=0:
  print(x%10,end=" ")
  x = x//10

enter the number546
6 4 5

#### HW

1.   Given no. is palindrome or not
2.   Given no. is amstrong or not
3.   Find the factors

In [0]:
# 1. Palindrome
n = int(input("enter a number"))
rev = 0
temp = n
while n!=0:
  r = n%10
  rev = rev*10+r
  n = n//10
if rev == temp:
  print("palindrome")
else:
  print("not palindrome")

enter a number1221
palindrome

In [0]:
# 2. Armstrong
n = int(input("enter a value"))
sum = 0
temp = n
while n!=0:
  i=n%10
  sum = sum+(i**3)
  n=n//10
if sum == temp:
  print("amstrong")
else :
  print("not amstrong")

enter a value370
amstrong

In [0]:
# 3. Factors
n = int(input("enter a value"))
i = 1
while i <= n:
  if n%i == 0:
    print(i, end=" ")
  i=i+1

enter a value15
1 3 5 15

In [0]:
# Print 1 to n using for loop
n = int(input("enter a number"))
for i in range(1,n+1,2):      # range is in built..if we give(1,n) it will show till n-1
  print(i,end=" ")       # (1,N+1,INCREASING NO.)

enter a number10
1 3 5 7 9

In [0]:
# Print even no.s
n = int(input("enter a number"))
for i in range(1,n+1):
  if i%2==0:
    print(i,end=" ")

enter a number10
2 4 6 8 10

In [0]:
# Sum of even no.s
n = int(input("enter a number"))
s = 0
for i in range(1,n+1):
  if i%2==0:
    s=s+i
print(s)

enter a number6
12

In [0]:
# Printing a string using FOR
n = input("enter a name : ")
for i in n:
  print(i)

enter a name : Mouni
M
o
u
n
i

In [0]:
# Printing a string using WHILE loop
n = input("enter a name:")
l = len(n)
i = 0
while i<l:
  print(n[i])  # variable in the index i
  i =i + 1

enter a name:MOUNI
M
O
U
N
I

### Functions

In [0]:
# syntax
   def name(args):
     statements
     return

In [0]:
def add(x,y):
  return x+y
add(2,4)

6

In [0]:
# Sum of even no.s from 1 to n
def Even_sum(n):
  sum=0
  for i in range(1,n+1):
    if i%2==0:
      sum=sum+i 
  return sum
Even_sum(30)

240