<a href="https://colab.research.google.com/github/mounikachittoor/CRT/blob/master/Day_7(5_12_2019).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Factorial of a number
def factorial(n):
  fact = 1
  for i in range(1,n+1):
    fact = fact * i
  return fact
print(factorial(5))
print(factorial(10))

120
3628800

In [0]:
# Factors
def factor(n):
  for i in range(1,n+1):
    if n%i==0:
      print(i)
  return i
factor(6)

1
2
3
6

6

### Collection Datatypes

1.    List : [1,2,3].. 1,2,3 r called elements
        -- list is mutable
        -- each element has index so list is indexed 
        -- list has ordered(since elements r ordered)
        -- can be passed any type of values
        -- list holds heterogenous
2.    Tuple : (1,2,3)
        -- tuples r inmmutable(i.e.,we can't add or del elements)
        --holds 2 inbuilt methods..index nd count
3.    Dictionary : {key1:value,key2:value}
        --keys should be immutable nd unique
        --no.s, tuples,strings r immutable.so it can be used as keys

#### LIST

In [0]:
x = [10,20,30]              
x.append(40)                # to add elements at the end we use built in function "append"--print(x)
print(x[2])                 # to retrieve an element we use{print(x[index no.])}
x.append(50)                # to print 2 n0.s print(x[3:5])
x[2] = 100                  # to replace a number x[index no.]=new value
print(x)    
del x[2]                    # to delete we use del x[index no.]
print(x)                            #----this is called SLICING

30
[10, 20, 100, 40, 50]
[10, 20, 40, 50]

In [0]:
x.insert(3,500)       # to add an element in the middle we use insert
x

[10, 20, 40, 500, 50]

In [0]:
x.extend([1,2,3])        # to add multiple elements
print(x)

[10, 20, 40, 500, 50, 1, 2, 3]

In [0]:
                  # when we know index use pop method
x.pop()           # pop removes last element in the list
print(x)         # in python we have +ve nd -ve indexes
                 # pop takes -ve index by default in reverse 
                 # we can use pop(0) to remove 1st element

[10, 20, 40, 500, 50, 1, 2]

In [0]:
x = [10,20,40,500,50,1,2]
x.count(20)

1

In [0]:
x.remove(2)     # to remove a no. whose index is not known we use remove method
print(x)

[10, 40, 500, 50, 1]

In [0]:
x.clear()   # to remove all the values from list
print(x)

[]

In [0]:
x = [10,20,100,30]       
x.index(100)          # to return the index of a no.

2

In [0]:
x.sort()          # sort is used to keep in ascending order i.e., homogenous
print(x)          # all the elements should be numerical i.e.,int or float

[10, 20, 30, 100]

In [0]:
x.sort(reverse=True) # for descending order we use arguments in sort
print(x)             # by default reverse is false ..so we keep rev. = True

[100, 30, 20, 10]

In [0]:
x.reverse()    # for reverse
print(x)

[10, 20, 30, 100]

In [0]:
# create a list of different values ..if the value is even then print sqaure of those even values
# ITERATING through list
x = [1,2,3,4,6,8]
r = len(x)
for i in range(0,r):
  if x[i]%2==0:
    print(x[i]**2,end=" ")

4 16 36 64

In [0]:
# other method for above question
for i in x:
  if i%2==0:
    print(i*i, end=" ")

4 16 36 64

In [0]:
# above question using function by creating a list
def even(x):
  list1= []
  for i in x:
    if i%2 == 0:
      list1.append(i**2)
  return list1
print(even([2,3,7,0]))
even([1,2,3,4,6,8])

[4, 0]

[4, 16, 36, 64]

In [0]:
# above question without list
def even(x):
  for i in x:
    if i%2 == 0:
      print(i**2,end=" ")
even([2,3,7,6])
even([10,4,7,9])

4 36 100 16

In [0]:
# Accept student marks w.r.t the sub. nd add the marks to a list nd print the sum of marks

##### TUPLE

In [0]:
# tuple1 = (1,2,3,6)
print(tuple1)

(1, 2, 3, 6)

In [0]:
tuple1.count(2)  # to count the no. tymes an element is present

1

In [0]:
type(tuple1)

tuple

In [0]:
x = 1,2,3,4
print(type(x))

<class 'tuple'>

#### DICTIONARY

In [0]:
s = ['a','b','c']
r = [1,2,3]
d = {s:r,s:r,s:r} # we have to compare both s nd r to get the details..this is not necessary in dictionary since we use keys

In [0]:
dict1 = {"name":"MOUNI","age":'20',"address":"Hyd"}
print(dict1['age'])
dict1['name']

In [0]:
dict1['course'] = "python"  # to insert new value
print(dict1)

{'name': 'MOUNI', 'age': '20', 'address': 'Hyd', 'course': 'python'}

In [0]:
del dict1['course']
print(dict1)

{'name': 'MOUNI', 'age': '20', 'address': 'Hyd'}

In [0]:
dict1.keys()  # to print only keys

dict_keys(['name', 'age', 'address'])

In [0]:
dict1.values()   # to print values

dict_values(['MOUNI', '20', 'Hyd'])

In [0]:
dict1.items()

dict_items([('name', 'MOUNI'), ('age', '20'), ('address', 'Hyd')])

In [0]:
dict1 = {"name":"MOUNI","age":'20',"address":"Hyd"}
for i in dict1.keys():
  print("My",i,"is",dict1[i])

My name is MOUNI
My age is 20
My address is Hyd

## STRINGS

1.  STR is immutable i.e,we cant change it  
2.

In [0]:
str1 = "pythonprogramming"
print(len(str1))
print(max(str1))
print(min(str1))

17
y
a

In [0]:
# to find the ascii values
print(ord('y'))
print(ord('Y'))
print(ord('1'))
print(ord(' '))
print(ord('t'))

121
89
49
32
116

In [0]:
# to find the number or char of ascii values
chr(98)

'b'

In [0]:
str1.isalpha()     # only alphabets-true  #only lower case alphabets is considered

True

In [0]:
str1.isdigit()     # onl;y numbers-false

False

In [0]:
str2 = "a123"
str2.isdigit()

False

In [0]:
str2.isalnum()   # both alphabet nd num

True

In [0]:
str3 = "python"     # lower case to upper case
str3.upper()        # we get lower case o/p even after changing into upper case because it is immutable
print(str3)

python

In [0]:
str3 = str3.upper()        # here we get upper case because we assigned a new value to str3
print(str3)              # new ref new obj is created ..lower case python is removed but not replaced

PYTHON

In [0]:
str3.isupper()          # to check if it is lower--name.islower()
                                           # upper--name.isupper()

True

In [0]:
help(str)

In [0]:
def digit_count(string):
  sum = 0
  for i in string:
    if i.isdigit():
      sum = sum + int(i)
  return sum
digit_count("application3099")

21

In [0]:
# without using isdigit method nd by using ascii values
def digit_count(string):
  sum = 0
  for i in string:
    if i>chr(47) and i<chr(58):
      sum = sum + int(i)
  return sum
digit_count("mouni3099")

21

In [0]:
n = "snow storm"
n[5]='X'
print(n)